.diffUnmodified{
    color: black;
}

.diffDeleted {
    background: rgba(255,0,0,0.2);
}

.diffInserted {
    background: rgba(3,255,7,0.3);
}

.diff td{
    vertical-align : top;
    white-space    : pre;
    white-space    : pre-wrap;
    font-family    : monospace;
    font-size: 12px;
}